<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Agents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#7654C4">
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  </head>
  <body>
    <h1>Detecting Your Device</h1>
    <ul>
      {% for item in c %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </body>
</html>